.field{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}
.narrowfield{
	width: 70px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}

.rich-progress-bar-completed{
	background-image: url("../img/progressBarComplete.png");
}