.field{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}
.narrowfield{
	width: 70px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}

.textField{
	width: 240px;
}

.leftColumn {
	width: 170px;
	font-weight: bold;
	font-size: 12px;
	font-family: none;
}

.rightColumn {
	width: 250px;
	align: right;
	text-align: right;
	float: right;
}

.rich-progress-bar-done{
	background-image: url("../img/progressBarComplete.png");
}

.rich-progress-bar-mockup{
	border-color: #BED6F8;
	border-width: 1px;
	border-style: solid;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;	
}

.rich-panel-body{
	padding: 3px;
}

.queryMenuPanel{
	position: fixed;
	top: 195px;
}

.queryMenu{
	width: 120px;
	height: 100%;
}

.queryForms{
	height: 100%;
	vertical-align: top;
	width: 450px;
}

.queryRight{
	height: 100%;
	vertical-align: top;
	width: 450px;
}

.consumerPanel{
	width: 400px;
	height: 175px;
}

.consumerDescription{
	width: 200px;
	height: 115px;
}

.scrollPanel{
	overflow-y: auto;
}

.consumersList{
	height: 135px;
	width: 100%;
}