html {
	overflow-y: scroll;
}

body {
	font: normal 12px/1.7 "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0px;
	background : #F1F1F1 url() repeat top center;
}

body .textContent{
	width : 75%;
	text-align : justify;
	padding-left : 1em;
}

a {
	color : #F05A28;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

input[type=submit], input[type=button] {
	font-size: 11px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	font-size: 12px;
	padding-left: 1px;
}

select {
	font-size: 13px;
}

img.errors {
	padding-right: 5px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
   border: 0;
}

table.radio td {
   padding: 0 2px;
}

table.radio input[type=radio] {
   vertical-align: bottom;
}

.header {
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.content {
	padding: 1%;
	width : 100%;
}


.field{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}
.narrowfield{
	width: 70px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}

.textField{
	width: 240px;
}

.leftColumn {
	width: 170px;
	font-weight: bold;
	font-family: none;
}

.simpleColumn {
	width: 60px;
	margin : 0px;
	font-family: none;
}

.rightColumn {
	width: 250px;
	align: right;
	text-align: right;
	float: right;
}

.queryMenuPanel{
	position: fixed;
	top: 140px;
	width : 120px;
}

.queryMenu{
	height: 100%;
	width : 130px;
}

.queryMenuButton{
	background-color:#D4CFC7;
	border-style: none;
	white-space: nowrap;
	font-family: Arial,Verdana,sans-serif;
	font-weight: bold;
	margin: 3px;
	line-height: 20px;
	text-decoration: none;
	color: black;
	margin-left: 6px;
}

.queryMenuBlock{
	margin-top:5px;
	margin-bottom:5px;
	vertical-align: middle;
	background-color:#D4CFC7;
}

.queryForms{
	height: 100%;
	vertical-align: top;
	width : 410px;
	/*max-width : 410px;*/

}

.queryRight{
	height: 100%;
	vertical-align: top;
	max-width : 370px;
}

.showRequestPanel{
	width: 400px;
	height: 210px;
	margin-left : 3px;
}

.showRequestText{
	width: 98%;
	height: 170px;
}

.queryProgressPanel{
	width: 400px;
	height: 210px;
}

.resultTable{
	margin-left : 0.5em;
	margin-top : 1em;
	width : 98%;
}

.resultTable select{
	width : 250px;
}

.consumerPanel{
	width: 430px;
	height: 210px;
}

.commentsPanel{
	width: 98%;
	height: 110px;
	margin-top : 1em;
}

.commentsPanel textarea{
	width: 98%;
	height: 70px;
}

.consumerDescription{
	width: 200px;
	height: 115px;
}

.consumerUpdateImg{
	margin-top : 5px;
}

.scrollPanel{
	overflow-y: auto;
}

.consumersList{
	height: 140px;
	width: 100%;
}

.logActionButton{
	width: 60px;
}

.logQueryText{
	width: 350px;
	border-style: none;
	vertical-align: middle;
	background-color: inherit;
	overflow-y: auto;
}

.logQueryComments{
	width: 150px;
	border-style: none;
	vertical-align: middle;
	overflow-y: auto;
	background-color: inherit;
}

.collisionSpecies{
	text-decoration:none;
	border-bottom:1px dotted #D4CFC7;
}

.roundButton {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.nodesTable{
	width : 99%;	
	margin-bottom : 2em;
}


.bold{
	font-weight : bold;
}

.alignJustify{
	text-align : justify;
}

.alignCenter{
    text-align : center;
}


.container {
	width : 1000px;
	position : relative;
	margin : auto;	
	background : #FFFFFF url() repeat top center;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}


.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}