.field{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}
.narrowfield{
	width: 70px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:5px;
	margin-left:5px;
}

.textField{
	width: 240px;
}

.leftColumn {
	width: 170px;
	font-weight: bold;
	font-size: 12px;
	font-family: none;
}

.simpleColumn {
	width: 60px;
	/*font-weight: bold;*/
	font-size: 12px;
	margin : 0px;
	font-family: none;
}

.rightColumn {
	width: 250px;
	align: right;
	text-align: right;
	float: right;
}

.rich-progress-bar-done{
	background-image: url("../img/progressBarComplete.png");
}

.rich-progress-bar-mockup{
	border-color: #D4CFC7;
	border-width: 1px;
	border-style: solid;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;	
}

.rich-panel-body{
	padding: 3px;
}

.queryMenuPanel{
	position: fixed;
	top: 195px;
}

.queryMenu{
	width: 120px;
	height: 100%;
}

.queryMenuButton{
	background-color:#D4CFC7;
	border-style: none;
	white-space: nowrap;
	font-family: Arial,Verdana,sans-serif;
	font-weight: bold;
    font-size: 11px;
	margin: 3px;
	line-height: 20px;
	text-decoration: none;
	color: black;
	margin-left: 6px;
}

.queryMenuBlock{
	margin-top:5px;
	margin-bottom:5px;
	vertical-align: middle;
	background-color:#D4CFC7;
}

.queryForms{
	height: 100%;
	vertical-align: top;
	width: 460px;
}

.queryRight{
	height: 100%;
	vertical-align: top;
	width: 450px;
}

.showRequestPanel{
	width: 890px;
	height: 70px;
	margin-left : 3px;
}

.showRequestText{
	width: 870px;
	height: 40px;
}

.queryProgressPanel{
	width: 450px;
	height: 210px;
}

.resultTable{
	margin-left : 4px;
}


.consumerPanel{
	width: 430px;
	height: 210px;
}

.commentsPanel{
	width: 98%;
	height: 120px;
	margin-top : 1em;
}

.commentsPanel textarea{
	width: 98%;
	height: 80px;
}

.consumerDescription{
	width: 200px;
	height: 115px;
}

.scrollPanel{
	overflow-y: auto;
}

.consumersList{
	height: 140px;
	width: 100%;
}

.logActionButton{
	width: 60px;
}

.logQueryText{
	width: 350px;
	border-style: none;
	vertical-align: middle;
	background-color: inherit;
	overflow-y: auto;
}

.logQueryComments{
	width: 150px;
	border-style: none;
	vertical-align: middle;
	overflow-y: auto;
	background-color: inherit;
}

.collisionSpecies{
	text-decoration:none;
	border-bottom:1px dotted #D4CFC7;
}

.alignCenter{
    text-align : center;
}

.roundButton {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.nodesTable{
	width : 90%;	
}
