.rich-progress-bar-done{
	background-image: url("../img/progressBarComplete.png");
}

.rich-progress-bar-mockup{
	border-color: #D4CFC7;
	border-width: 1px;
	border-style: solid;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    /*font-size: 11px;*/
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;	
}

.rich-panel-body{
	font: normal 12px/1.7 "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	padding: 3px;
	font-size : 12px;
}

.rich-table-cell{
	font-size : 12px;
}

.rich-stglpanel-body{
	font-size : 12px;
}

.rich-ddmenu-label{
	font-size : 12px;
}


.rich-table {
	width: 50%;
}


.rich-stglpanel-body {
	overflow: auto;
} 

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
	margin-bottom: 0;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
	text-decoration: none;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

.rich-tree-node-text .rich-tool-tip{
	text-decoration: none;
	color : #000000;
	
}
